<div class="allBars" >
    <ul>
        <li class="bar-list-item" dir-paginate="bar in Bars | itemsPerPage: barsPerPage" total-items="totalBars" current-page="pagination.current">
            <div class="bar-list-item-container">
                <div class="main-attributes">
                    <div class="bar-avatar">
                        <div class="photo-box">
                            <a href="/#/viewBar/{{bar.name}}">
                                <img alt="{{bar.name}}" class="photo-box-img" height="90" ng-src="/uploads/{{bar.id}}/{{bar.thumb}}" width="90">
                            </a>
                        </div>
                    </div>
                    <div class="media-story">
                        <h3>
                            <a href="/#/viewBar/{{bar.name}}" >{{bar.name}}</a>
                        </h3>
                        <div>
                            <div>
                                <i title="{{bar.rating}}">
                                    <img alt="{{bar.rating}}" src="" />
                                </i>
                            </div>
                            <span class="review-count rating-qualifier">
                                {{bar.reviewcount}}
                            </span>
                        </div>
                        <div class="price-category">

                            <span class="business-attribute price-range">{{bar.price}}</span>

                            <span ng-repeat="ty in bar.type">
                                <a href="">{{ty}}</a>    
                            </span>
                        </div>

                    </div>
                </div>
                <div class="secondary-attributes">
                    <address>
                        <strong>{{bar.neighborhood}}</strong> <br>
                        <br>
                        {{bar.street}} <br>
                        {{bar.city}}, {{bar.state}} {{bar.zip}} <br>
                        {{bar.phonenum| tel}}
                    </address>


                </div>
                <div class="edit-attributes" ng-show="admin">
                    <button class="btn btn-danger" ng-click="removeBar(bar.id)" >Delete</button>
                    <button class="btn btn-warning" ng-click="editBar(bar.name)" >Edit</button>
                </div>
                <!--<div class="snippet-block review-snippet">
                    <div class="media-block">
                        <div class="media-avatar">
                            <div class="photo-box pb-30s" >
                                <a href="">
                                    <img alt="" class="photo-box-img" height="30" src="" width="30">
                                </a>
                            </div>
                        </div>
                        <div class="media-story">
                            <p class="snippet">{{bar.review}}</p>
                        </div>
                    </div>
                </div> -->
            </div>

        </li>
    </ul>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>


